@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h4 class="display-4">Query string</h4>

    <h6 class="display-4">Hello, @ViewData["str"]</h6>

    <h6 class="display-4">@ViewData["str2"]</h6>

    <h6 class="display-4">@ViewData["str3"]</h6>

</div>


<div class="text-center">
    <h4 class="display-4">Cookies</h4>

    <h6 class="display-4">@ViewData["mytheme"]</h6>
</div>


<div class="text-center">
    <h4 class="display-4">Session</h4>

    <h6 class="display-4">@ViewData["cart"]</h6>
</div>